{% extends '::base.html.twig' %}

{% block content -%}
    <a href="{{ path('topic') }}">
        Powrót
    </a>

    <h1>Nowy temat</h1>

    {{ form(form) }}

{% endblock %}


{% block stylesheets %}
    <style>

        body {
            background-color: #66dd66;
        }
        textarea {

            line-height: 600;
        }

    </style>
{% endblock %}