{% extends '::base.html.twig' %}

{% block content -%}
   
  <a href="{{ path('admin') }}">
            Powrót
        </a><br>

  Stworzono nowego użytkownika {{entity.username }}! 

        
{% endblock %}
