{% extends '::base.html.twig' %}

{% block content -%}
    <a href="{{ path('topic_show', { 'id': entity.topic.id }) }}"> Powrót</a>
    <h1>Edycja wiadomości</h1>



    {{ form(edit_form) }}

    {{ form(delete_form) }}


{% endblock %}



