{% extends '::base.html.twig' %}

{% block content -%}
    

    
        <a href="{{ path('topic_show', { 'id': topicId }) }}">
            Powrót
        </a>
   <h1>Tworzenie nowej wiadomości</h1>


	{{ form(form) }}

{% endblock %}


